In [27]:
import dash
import dash_table
import pandas as pd
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output, State
from dash_table import DataTable
from dash.exceptions import PreventUpdate
import plotly.graph_objs as go

In [28]:
df = pd.read_csv('usa_crop_yield_county.csv')

In [29]:
df.dropna()

,COMMODITY,STATE_NAME,COUNTY_NAME,YEAR,YIELD,DESCRIPTION
0,CORN,ALABAMA,GREENE,1982,57.1,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE"
1,CORN,ALABAMA,HALE,1982,60.6,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE"
2,CORN,ALABAMA,MARENGO,1982,55.0,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE"
3,CORN,ALABAMA,PICKENS,1982,62.5,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE"
4,CORN,ALABAMA,SUMTER,1982,54.3,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE"
...,...,...,...,...,...,...
140627,SOYBEANS,WISCONSIN,MONROE,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE"
140628,SOYBEANS,WISCONSIN,PEPIN,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE"
140629,SOYBEANS,WISCONSIN,PIERCE,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE"
140630,SOYBEANS,WISCONSIN,ST CROIX,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE"
140631,SOYBEANS,WISCONSIN,TREMPEALEAU,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE"

In [30]:
commodity_list=df['COMMODITY'].unique().tolist()
commodity_list

['CORN', 'SOYBEANS']

In [31]:
state_list=df['STATE_NAME'].unique().tolist()
state_list

['ALABAMA',
 'ARIZONA',
 'ARKANSAS',
 'CALIFORNIA',
 'COLORADO',
 'DELAWARE',
 'FLORIDA',
 'GEORGIA',
 'IDAHO',
 'ILLINOIS',
 'INDIANA',
 'IOWA',
 'KANSAS',
 'KENTUCKY',
 'LOUISIANA',
 'MARYLAND',
 'MICHIGAN',
 'MINNESOTA',
 'MISSISSIPPI',
 'MISSOURI',
 'MONTANA',
 'NEBRASKA',
 'NEW JERSEY',
 'NEW MEXICO',
 'NEW YORK',
 'NORTH CAROLINA',
 'NORTH DAKOTA',
 'OHIO',
 'OKLAHOMA',
 'OREGON',
 'PENNSYLVANIA',
 'SOUTH CAROLINA',
 'SOUTH DAKOTA',
 'TENNESSEE',
 'TEXAS',
 'UTAH',
 'VIRGINIA',
 'WASHINGTON',
 'WEST VIRGINIA',
 'WISCONSIN',
 'WYOMING',
 'US TOTAL',
 'OTHER STATES']

In [32]:
def county_list(dataframe,state):
    ndf=dataframe[dataframe['STATE_NAME']==state]
    x=ndf['COUNTY_NAME'].unique().tolist()
    return x

In [33]:
all = {}
for i in state_list:
    all[i]=county_list(df,i)

In [34]:
def generate_table(dataframe, max_rows=40):
    return html.Table(
       
        [html.Tr([html.Th(col) for col in dataframe.columns])] +

        
        [html.Tr([
            html.Td(dataframe.iloc[i][col]) for col in dataframe.columns
        ]) for i in range(min(len(dataframe), max_rows))]
    )

In [35]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [36]:
counties["features"][0]

{'type': 'Feature',
 'properties': {'GEO_ID': '0500000US01001',
  'STATE': '01',
  'COUNTY': '001',
  'NAME': 'Autauga',
  'LSAD': 'County',
  'CENSUSAREA': 594.436},
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-86.496774, 32.344437],
    [-86.717897, 32.402814],
    [-86.814912, 32.340803],
    [-86.890581, 32.502974],
    [-86.917595, 32.664169],
    [-86.71339, 32.661732],
    [-86.714219, 32.705694],
    [-86.413116, 32.707386],
    [-86.411172, 32.409937],
    [-86.496774, 32.344437]]]},
 'id': '01001'}

In [37]:
import pandas as pd
df1=pd.read_csv('usa_crop_yield_county.csv')
df2=pd.read_csv('county_fips_master - county_fips_master.csv')

In [38]:
import re
for i in range(len(df2)):
    df2['county_name'][i]=re.sub("County|City", "", df2['county_name'][i])

C:\Users\Administrator\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
df2

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,Autauga,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,Baldwin,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,Barbour,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,Bibb,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,Blount,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3141,56037,Sweetwater,WY,Wyoming,Sweetwater County WY,50.0,4.0,8.0,56.0,37.0,4-8-56-37,West,Mountain
3142,56039,Teton,WY,Wyoming,Teton County WY,50.0,4.0,8.0,56.0,39.0,4-8-56-39,West,Mountain
3143,56041,Uinta,WY,Wyoming,Uinta County WY,50.0,4.0,8.0,56.0,41.0,4-8-56-41,West,Mountain
3144,56043,Washakie,WY,Wyoming,Washakie County WY,50.0,4.0,8.0,56.0,43.0,4-8-56-43,West,Mountain
3145,56045,Weston,WY,Wyoming,Weston County WY,50.0,4.0,8.0,56.0,45.0,4-8-56-45,West,Mountain

In [40]:
df2['county_name']=df2['county_name'].str.upper()
df2['state_name']=df2['state_name'].str.upper()

In [41]:
df1['fip']=''
df1.dropna()

,COMMODITY,STATE_NAME,COUNTY_NAME,YEAR,YIELD,DESCRIPTION,fip
0,CORN,ALABAMA,GREENE,1982,57.1,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",
1,CORN,ALABAMA,HALE,1982,60.6,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",
2,CORN,ALABAMA,MARENGO,1982,55.0,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",
3,CORN,ALABAMA,PICKENS,1982,62.5,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",
4,CORN,ALABAMA,SUMTER,1982,54.3,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",
...,...,...,...,...,...,...,...
140627,SOYBEANS,WISCONSIN,MONROE,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",
140628,SOYBEANS,WISCONSIN,PEPIN,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",
140629,SOYBEANS,WISCONSIN,PIERCE,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",
140630,SOYBEANS,WISCONSIN,ST CROIX,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",
140631,SOYBEANS,WISCONSIN,TREMPEALEAU,1980,28.0,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",

In [42]:
df1['COUNTY_NAME'][6]==df2['county_name'][0].strip()

True

In [43]:
type(df2['county_name'][0])

str

In [44]:
# df1=df1[df1["COMMODITY"]=="CORN"]
# df1=df1[df1["YEAR"]>2016]

In [45]:
# df1=df1.reset_index()

In [46]:
for i in range(len(df2)):
    df2['county_name'][i].strip()

In [47]:
df1['COUNTY_NAME'][6]==df2['county_name'][0]

False

In [48]:
type(df1['COUNTY_NAME'][0])

str

In [49]:
for i in range(len(df1)):
      str(df1['COUNTY_NAME'][i])

In [50]:
df1['COUNTY_NAME'][6].strip()==df2['county_name'][0].strip()

True

In [51]:
df1['COUNTY_NAME'][6]==df2['county_name'][0].strip()

True

In [26]:
for i in range(len(df2)):
    for j in range(len(df1)):
        if(df1['COUNTY_NAME'][j]==df2['county_name'][i].strip()):
            df1['fip'][j]= df2['fips'][i]

C:\Users\Administrator\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyboardInterrupt:

In [ ]:
df1

In [28]:
df1=df1.dropna()
df1

,index,COMMODITY,STATE_NAME,COUNTY_NAME,YEAR,YIELD,DESCRIPTION,fip
233,74041,CORN,ALABAMA,COLBERT,2017,195.3,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",1033
234,74042,CORN,ALABAMA,FRANKLIN,2017,178.9,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",53021
235,74043,CORN,ALABAMA,LAUDERDALE,2017,178.4,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",47097
236,74044,CORN,ALABAMA,LAWRENCE,2017,204.0,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",47099
237,74045,CORN,ALABAMA,LIMESTONE,2017,198.9,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",48293
...,...,...,...,...,...,...,...,...
1709,75517,CORN,WISCONSIN,KENOSHA,2017,168.1,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55059
1710,75518,CORN,WISCONSIN,RACINE,2017,175.6,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55101
1711,75519,CORN,WISCONSIN,WALWORTH,2017,175.8,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55127
1712,75520,CORN,WISCONSIN,WASHINGTON,2017,177.8,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55131
1713,75521,CORN,WISCONSIN,WAUKESHA,2017,181.5,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55133

In [29]:
df1.reset_index(drop=True)

,index,COMMODITY,STATE_NAME,COUNTY_NAME,YEAR,YIELD,DESCRIPTION,fip
0,74041,CORN,ALABAMA,COLBERT,2017,195.3,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",1033
1,74042,CORN,ALABAMA,FRANKLIN,2017,178.9,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",53021
2,74043,CORN,ALABAMA,LAUDERDALE,2017,178.4,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",47097
3,74044,CORN,ALABAMA,LAWRENCE,2017,204.0,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",47099
4,74045,CORN,ALABAMA,LIMESTONE,2017,198.9,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",48293
...,...,...,...,...,...,...,...,...
1476,75517,CORN,WISCONSIN,KENOSHA,2017,168.1,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55059
1477,75518,CORN,WISCONSIN,RACINE,2017,175.6,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55101
1478,75519,CORN,WISCONSIN,WALWORTH,2017,175.8,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55127
1479,75520,CORN,WISCONSIN,WASHINGTON,2017,177.8,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55131
1480,75521,CORN,WISCONSIN,WAUKESHA,2017,181.5,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",55133

In [30]:
app = dash.Dash('Vega_MX')

In [31]:
import plotly.express as px

In [32]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [33]:
mapbox_accesstoken = 'pk.eyJ1Ijoic3J1c2h0aTE3MjkiLCJhIjoiY2s1ZGhzd2F4MXNsdTNscG9vdzdyazU5dCJ9.OrGqgiciNIDrORpsinN1OQ'

In [34]:
styles = {
    'pre': {
        'border': 'thin lightgrey solid',
        'overflowX': 'scroll'
    }
}

In [35]:
df=df[df.STATE_NAME != 'NATIONAL']
d=df[df.STATE_NAME != 'NATIONAL']

In [63]:
app.layout=html.Div([
    
        html.Div([
              html.Label('CROP'),
                dcc.Dropdown(
                id='second dropdown',
                options = [
                  {'label':'CORN','value':'CORN'},
                  {'label':'WHEAT','value':'WHEAT'},
                  {'label':'SOYBEANS','value':'SOYABEAN'},
                  {'label':'RICE','value':'RICE'},
                  {'label':'COTTON','value':'COTTON'}
                  
                 ],
             placeholder="Select a crop")],
             style={'width': '30%', 'display': 'inline-block'}),
    
               html.Div([
               html.Label('STATES'),
                 dcc.Dropdown(
                  id='first dropdown',
                  options = [
                   {'label': i, 'value': i} for i in d['STATE_NAME'].unique()
                
                 ],
             placeholder="Select a state")],
             style={'width': '30%', 'display': 'inline-block'}),
    
        html.Div([
              html.Label('COUNTY'),
                dcc.Dropdown(
                id='third dropdown',
            
             placeholder="Select a county")],
             style={'width': '30%', 'display': 'inline-block'}),
        
     html.Br(),
    html.Div([
     html.Div([
        
    dcc.Graph(id="my-graph"),
       
     ],style={'display': 'inline-block', 'width': '45%', "padding-right": "10px", "padding-top": "50px"}),

    html.Div([
        dcc.Graph(id='time-series')
    ],style={'display': 'inline-block', 'width': '45%', "padding-left": "30px", "padding-top": "50px"})
    ]),
     html.Div([
             dcc.Slider(
        id='year--slider',
        min=df1['YEAR'].min(),
        max=df1['YEAR'].max(),
        value=df1['YEAR'].min(),
        marks={str(year): str(year) for year in df1['YEAR'].unique()},
        step=None)
                 ],style={'display': 'block', 'width': '45%'}),
    html.Div([
    html.Div('Select Crop and Year for MAP', style={'color': 'blue', 'fontSize': 29}),
    html.P('Yield heatmap of USA showing yield of selected crop for the selected year', className='my-class', id='my-p-element')
], style={'marginBottom': 50, 'marginTop': 25})

])

In [37]:
# DataTable(
#             id='table',
#              columns=[{"name": i, "id": i} for i in df.columns],
#              data=[df.to_dict('records')],
#             style_table={
#             'maxHeight': '300px',
#             'width':'450px',
#             'overflowY': 'scroll',
#             'border': 'thin lightgrey solid',
#             'padding': '20px'
#         },
#         fixed_rows={ 'headers': True, 'data': 0 },
#         style_cell={'textAlign': 'left'},
#         style_cell_conditional=[
#             {
#                 'if': {'column_id': c},
#                 'textAlign': 'left'
#             } for c in ['YEAR', 'LOCATION']
#         ],
#         style_header={
#             'backgroundColor': 'white',
#             'fontWeight': 'bold'
#         },
#         style_data_conditional=[
#             {
#                 'if': {'row_index': 'odd'},
#                 'backgroundColor': 'rgb(248, 248, 248)'
#             }
#         ],
#         style_as_list_view=True,
#         )

In [38]:
@app.callback(dash.dependencies.Output('third dropdown', 'options'),
              [dash.dependencies.Input("first dropdown", "value")]
              )
def returncountyoption(state):
    ndf=df[df['STATE_NAME'] == state]
    countylist=ndf['COUNTY_NAME'].unique().tolist()
    option=[{'label':x,'value':x}for x in countylist]
    return option

In [39]:
# @app.callback([dash.dependencies.Output('table', 'data'), dash.dependencies.Output('table', 'columns')], 
#               [Input('show-button', 'n_clicks')], 
#               state=[State("first dropdown","value"), State("second dropdown","value"), State("third dropdown","value")])

# def table(n_clicks,f,s,t):
#         data=d[d['COMMODITY']==s]
#         data=data[data['STATE_NAME']==f]
#         data=data[data['COUNTY_NAME']==t]
#         data=data.drop(columns=['DESCRIPTION'])
#         data=data.to_dict('records')
#         alist=['COMMODITY','STATE_NAME','COUNTY_NAME','YEAR','YIELD']
#         columns=[{"name": i, "id": i} for i in alist]
#         x = n_clicks
#         return data,columns

In [40]:
def create_time_series(dff, axis_type, title):
    return {
        'data': [dict(
            x=dff['YEAR'],
            y=dff['YIELD'],
            mode='lines+markers'
        )],
        'layout': {
            'height': 225,
            'margin': {'l': 20, 'b': 30, 'r': 10, 't': 10},
            'annotations': [{
                'x': 0, 'y': 0.85, 'xanchor': 'left', 'yanchor': 'bottom',
                'xref': 'paper', 'yref': 'paper', 'showarrow': False,
                'align': 'left', 'bgcolor': 'rgba(255, 255, 255, 0.5)',
                'text': title
            }],
            'yaxis': {'type': 'linear' if axis_type == 'Linear' else 'log'},
            'xaxis': {'showgrid': False}
        }
    }

In [48]:
@app.callback( dash.dependencies.Output('time-series','figure'), 
               [dash.dependencies.Input("first dropdown","value"),
                dash.dependencies.Input("second dropdown","value"),
                dash.dependencies.Input("third dropdown","value")])

def graphtimeseries(f,s,t):
        print(f)
        type(f)
        data=d[d['COMMODITY']==s]
        data=data[data['STATE_NAME']==f]
        data=data[data['COUNTY_NAME']==t]
        data=data.drop(columns=['DESCRIPTION'])
        trace =go.Scatter(
            x=data['YEAR'],
            y=data['YIELD'],
    name="YIELD TIME SERIES"
)
        layout=go.Layout(title="YIELD TIME SERIES",
    xaxis_title="YEAR",
    yaxis_title="YIELD IN BUSHELS PER ACRE",
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    ))
        return(go.Figure(data=[trace],layout=layout))

In [42]:
# @app.callback( [dash.dependencies.Output('graph_container', 'style'), dash.dependencies.Output('table_container', 'style')], 
#               [Input('show-button', 'n_clicks')], 
#               state=[State("first dropdown","value"), State("second dropdown","value"), State("third dropdown","value")])

# def graphtime(n_clicks,f,s,t):
#     if f is not None and s is not None and t is not None:
#         return {'display': 'block'},{'display': 'block'}
#     else:
#         return {'display': 'none'},{'display': 'none'}

In [43]:
@app.callback(
          Output('my-graph', 'figure'),
          [Input('second dropdown','value'),
           Input('year--slider','value')
        ])
def update_figure(crop,year):
    dff=df1[df1['COMMODITY']==crop]
    dff=dff[dff['YEAR']==year]
    trace = go.Choroplethmapbox(geojson=counties, locations=dff.fip, z=dff.YIELD,
                                    colorscale="Viridis", zmin=dff['YIELD'].min(), zmax=dff['YIELD'].max(), marker_line_width=0,text=dff.COUNTY_NAME)
    
    layout=go.Layout(
    title = {'text': 'CHLOROPLETH MAP',
       'font': {'size':28, 
           'family':'Arial'}},
    autosize = True,
    
    mapbox= dict(
        domain = {'x': [0.3, 1],'y': [0, 1]},
        center = dict(lat=40, lon=-100),
        accesstoken = mapbox_accesstoken,
         zoom = 3),
    xaxis2={
        'zeroline': False,
        "showline": False,
        "showticklabels":True,
        'showgrid':True,
        'domain': [0, 0.25],
        'side': 'left',
        'anchor': 'x2',
    },
    yaxis2={
        'domain': [0.4, 0.9],
        'anchor': 'y2',
        'autorange': 'reversed',
    }

)
    return(go.Figure(data=[trace],layout=layout))

In [ ]:
if __name__ =='__main__':
    app.run_server(port=8080)

 * Serving Flask app "Vega_MX" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8080/ (Press CTRL+C to quit)
127.0.0.1 - - [17/Jan/2020 02:38:10] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [17/Jan/2020 02:38:11] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [17/Jan/2020 02:38:11] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [17/Jan/2020 02:38:11] "POST /_dash-update-component HTTP/1.1" 200 -

None

127.0.0.1 - - [17/Jan/2020 02:38:11] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [17/Jan/2020 02:38:13] "POST /_dash-update-component HTTP/1.1" 200 -

In [45]:
, 'padding-top': '100px'

("'padding-top':", "'100px'")

In [46]:
    margin=dict(l=100, r=20, t=70, b=70),
    paper_bgcolor='rgb(204, 204, 204)',
    plot_bgcolor='rgb(204, 204, 204)',

In [ ]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[0, 1, 2, 3, 4, 5, 6, 7, 8],
    y=[0, 1, 2, 3, 4, 5, 6, 7, 8],
    name="Name of Trace 1"       # this sets its legend entry
))


fig.add_trace(go.Scatter(
    x=[0, 1, 2, 3, 4, 5, 6, 7, 8],
    y=[1, 0, 3, 2, 5, 4, 7, 6, 8],
    name="Name of Trace 2"
))

fig.update_layout(
    title="Plot Title",
    xaxis_title="x Axis Title",
    yaxis_title="y Axis Title",
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    )
)

fig.show()